````css
.top-menu-wrapper {
  background-color: rgba(0, 0, 0, 0); /* transparent */
  display: block; 
  /* display: flex;
  flex-wrap: nowrap;
  justify-content: normal; 
  align-items: normal; */
  position: relative;
  top: 0px;
  left: 0px;
  width: 679px;
  height: 151.461px;
  z-index: 2;
  overflow: visible;
  visibility: visible;
  opacity: 1;
}

.top-menu-wrapper-display-mobile {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: hsla(1, 100%, 44%, 1);
}

.top-menu {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: row;
    background-color: hsla(1, 100%, 44%, 1);
    padding: 10px;
    position: relative;  
}

.menu-list {
  list-style: none;
  display: inline-flex; 
  justify-content: flex-end space-around;
  flex-wrap: wrap; 
}

.menu-list a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.menu-list a:hover {
  background-color: #555;
  border-radius: 5px;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo img {
    width: 25%; 
    height: auto;
    display: block;
    margin-right: 0 auto;
}
