````css
.top-menu-wrapper-display-mobile {
    display:flex;
    justify-content: normal;
    align-items: center;
    flex-direction: row;
    background-color: hsla(1, 100%, 44%, 1);
}

.top-menu {
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-direction: row;
    background-color: hsla(1, 100%, 44%, 1);
    padding: 10px;
    position: relative;  
}

.menu-list {
  list-style: none;
  display: inline-flex; 
  justify-content: flex-end space-around;
  flex-wrap: wrap; 
}

.menu-list a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.menu-list a:hover {
  background-color: #555;
  border-radius: 5px;
}

.logo {
    /* display: flex; */
    align-items: center;
    margin-right: 10px;
}

.logo img {
    /* width: 25%; */
    height: auto;
    display: block;
    box-sizing: content-box;

    max-width: 100%;
    max-height: 115px;
    min-width: 0px;
    min-height: 0px;

    position: static;
    z-index: auto;
    object-position: 50% 50%;

    overflow: clip;
    object-fit: fill;
    cursor: pointer; 
}
